/* Eléments principaux de la page */

body
{
    background: url('fond_jaune.jpg') no-repeat center ;
    background-size: cover;
    font-family: Arial, "Arial Black", Impact, Verdana, sans-serif;
    color:#dbd4c1 ;
    width: 900px;
    margin: auto;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: Arial, "Arial Black", Impact , Verdana, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
/* Header */
header
{
  
    background: bottom ;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
	border: 1px solid; 
	box-shadow: 4px 4px 4px #dbd4c1;
}



#titre_principal
{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-top: 5px;
}

#pad
{
    text-align: left;
    padding-left: 70px;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 59px;
    height: 60px;
}

header h1
{
    font-family: serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}
/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;

}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #dbd4c1;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Bannière */

#banniere_image
{
    margin-top: 25px;
    height: 380px;
    border-radius: 5px;
    background: url('../css/photo_baniere.jpg') no-repeat center;
    background-color: white;
    background-size: cover;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
    
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.8em;
    
}

.bouton_rouge
{
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background:  #760001;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.bouton_rouge img
{
    border: 0;
}

/*  galerie */

#galerie_organisation
{
	
    display: flex;
    flex-wrap: wrap; 
    align-content: space-around;
    justify-content: center;
    border-radius: 5px;
 	height: 100%;
 	position: relative;
    box-shadow: 0px 4px 4px white;
    
}

#galerie_organisation_un
{
    
    display: flex;
    flex-wrap: wrap; 
    align-content: space-around;
    justify-content: center;
    border-radius: 5px;
    height: 100%;
    position: relative;
    box-shadow: 0px 4px 4px white;
    
}

#galerie_organisation_deux
{
    
    display: flex;
    flex-wrap: wrap; 
    align-content: space-around;
    justify-content: center;
    border-radius: 5px;
    height: 100%;
    position: relative;
    box-shadow: 0px 4px 4px white;
    
}

.gallery 
{
  	margin: 5px;
  	border: 1px solid #ccc;
  	float: ;
  	width: 180px;
  	transition: ease 1.0s;
}


.gallery:hover 
{
  	border: 1px solid #777;
  	transition: ease 1.0s;

  	
}

.gallery img 
{
  	width: 100%;
  	height: auto;
}

.desc 
{
  	padding: 15px;
  	text-align: center;
}

#galerie_dessins
{
	
}
#galerie_flash
{
	
}
#galerie_tatto
{
	
}

.test
{
	
	background: black;
	height: 100px;
	width: 100px;
}


/* Corps */

section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
    border: 2px double white; 
}

#orga_article
{
	padding-left: 5px;
}

.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 1em;
    text-shadow: 0px 0px 1px #dbd4c1;

}

aside
{
    flex: 1.2;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#photo_zozor
{
    text-align: center;
}

#photo_zozor img
{
    border: 1px solid #181818;
}

aside img
{
    margin-right: 5px;
}

/* Footer */

footer
{
    display: flex;
    padding-top: 25px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}


#tweet
{
	text-align: center;
    width: 33%;
    box-shadow: 0px 4px 4px grey;
}

#mes_photos
{
	text-align: center;
    width: 33%;
    box-shadow: 0px 4px 4px grey;
    padding-left: 4px;
}

#mes_crea
{
	text-align: center;
    width: 33%;
    box-shadow: 0px 4px 4px grey;
}

#mes_photos img
{

    border: 1px solid #181818;
    margin-right: 2px;
}

#listes_df
{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

#mes_crea ul
{
    padding-left: 2px;
    list-style-type: none;

}

#mes_crea a
{
    text-decoration: none;
    color: #760001;
}

/* test bouton */

#orga_bouton
{
	display: flex;
    justify-content: space-around;
    margin-bottom: 25px
    border-radius: 2px;
    box-shadow: 0px 4px 4px white;
    padding-top: 15px;
}

.button {
  background-color: grey;
  border-radius: 2px; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}

/* titre portefolio */

.titre_porte
{
	 border-radius: 2px;
    box-shadow: 0px 4px 4px white;
    text-align: center;
    margin-top: 20px;
    font-size: 1.3em;
}

/* Blog */

.orga_blog
{
	column-count: 2;
	column-gap: 20px;
	column-rule-style: solid;
	text-align: center;
	position: relative;
	height: 400px;
    width: 900
	padding: 5px 5px 5px 5px;
	z-index: 9;
}

.orga_titre
{
  column-span: all;
}

.ima_blog
{
    
    float: left;
    background-color: black;
    height: 300px;
    width: 430px;
    margin-left: 5px; 
}
